*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/714/935/806/rainbow-colorful-background-wallpaper-preview.jpg");
    background-color:#797878;
    background-blend-mode: darken;   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; 
}

#box{
    width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    margin-top: 50px;
}

#username{
}



